* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
    padding: 10px;
}

input {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 2.5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.equal {
    height: 75px;
    width: 150px;
}

.symbols{
    background-color: hsl(35, 100%, 55%);
}

@media(max-width:400px){
    .calculator{
        max-width: 200px;
    }
    input {
        width: 38px;
        height: 38px;
        font-size: 1rem;
        margin: 1px;
    }
    .equal {
        height: 38px;
        width: 75px;
    }
    #display{
        font-size: 1.25rem;
    }
}